<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title>taskList</title>
</head>
<body>
<section layout:fragment="content">
    <div>
        <a th:href="@{/tasks/creationForm}">Create</a>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>description</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${taskList}" th:object="${task}">
                <td>
                    <a th:href="@{/tasks/{id}(id=*{id})}" th:text="'#' + *{id}"></a>
                </td>
                <td th:text="*{description}"></td>
                <td th:text="*{status}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>